@font-face {
    font-family: 'BILLO';
    src: url('fonts/BILLO___.TTF');
}
body {
    background-color: #FF8FA3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #C9184A;
    padding: 0;
    margin-bottom: 1em;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(10px); 
}

.header marquee {
    background-color: #FFCCD5;
    border-radius: 0;
    padding: 4px;
}

.header marquee:last-child {
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: -10px;
    box-shadow: #C9184A 0 0 4px;
}

.header h1 {
    margin: 0;
    position: relative;
    top: 5px;
    padding: 0;
    color: #FFCCD5;
    font-family: BILLO;
    font-size: 3em;
    text-align: center;
}
