<div class="homepage-section">
    <h1 class="homepage-section__title">💗 Bienvenue sur Bizou 💗</h1>
    <h2 class="homepage__subtitle">
        Le site de rencontre pour les amoureux de la nature
    </h2>
    <div class="homepage">
        <p class="homepage__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum quisquam tempora
            error possimus fuga minus porro
            obcaecati a nostrum, quos rerum quas? Eius tenetur molestiae fugit dolorem ab illo beatae necessitatibus
            numquam, facilis ratione incidunt aut ipsa illum odio voluptate consectetur in distinctio perferendis
            voluptatum. Reprehenderit autem non iure officiis eos eveniet laboriosam quia? Quisquam quo dolores aliquam
            labore nemo sit aperiam cum velit nostrum veniam. Omnis quibusdam illum, fuga saepe earum porro ex ut ipsam
            aliquid perspiciatis. Optio minus repellendus eos odio omnis. Possimus ad, odit, atque repudiandae vel dicta
            id,
            quia laboriosam perspiciatis distinctio ab. Deserunt, aut nam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora error sit asperiores ipsam,
            dolor pariatur labore eum autem itaque praesentium obcaecati numquam quibusdam soluta minima maxime
            reprehenderit excepturi enim porro natus id ipsa. Soluta, alias beatae modi deleniti repellendus hic
            reprehenderit dolorem illum neque tempora reiciendis aspernatur. Iste dolore ab suscipit totam accusamus
            necessitatibus quia tempora ipsum id odit voluptate placeat debitis quae nostrum eveniet harum iusto
            numquam,
            dignissimos saepe nulla consequuntur quaerat ullam quasi culpa. Sapiente modi aut temporibus veniam aperiam,
            explicabo deserunt laudantium commodi illum eveniet numquam aliquam, optio, nesciunt possimus sint a nostrum
            id
            earum consectetur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos sint. Alias, fugit rem sint id,
            doloremque dicta nemo incidunt neque ipsam sit veritatis. Iste recusandae voluptatem ullam aperiam atque,
            culpa
            quas at quod cumque temporibus eum error voluptatum omnis iusto quos et tempore quae molestiae odit quidem
            placeat.
        </p>
    </div>
    <div class="feed-section">
        <h2 class="feed-section__title">
            <span class="feed-section__icon">🩷</span>
            <span class="feed-section__text">Fil d'actualité</span>
        </h2>
        <div class="feed">
            <div class="feed-item">
                <a href="" class="feed-item__author">Alice</a>
                <div class="feed-item__date">23 mai 2025</div>
                <div class="feed-item__content">
                    J'adore me promener en forêt au printemps 🌳🌸
                </div>
                <div class="feed-item__actions">
                    <button class="feed-item__btn">💖 Like</button>
                    <button class="feed-item__btn">💬 Commenter</button>
                </div>
            </div>
            <div class="feed-item">
                <div class="feed-item__author">Bob</div>
                <div class="feed-item__date">22 mai 2025</div>
                <div class="feed-item__content">
                    Quelqu'un pour une randonnée ce week-end ? 🚶‍♂️🌲
                </div>
                <div class="feed-item__actions">
                    <button class="feed-item__btn">💖 Like</button>
                    <button class="feed-item__btn">💬 Commenter</button>
                </div>
            </div>
            <div class="feed-item">
                <div class="feed-item__author">Chloé</div>
                <div class="feed-item__date">21 mai 2025</div>
                <div class="feed-item__content">
                    Les couchers de soleil au bord du lac sont magiques en ce moment ! 🌅💗
                </div>
                <div class="feed-item__actions">
                    <button class="feed-item__btn">💖 Like</button>
                    <button class="feed-item__btn">💬 Commenter</button>
                </div>
            </div>
        </div>
    </div>
</div>