<section class="form-section">
    <form class="form" action="message" method="post">
        <div class="form__header">
            <div class="form__icon">💗</div>
            <h2 class="form__title">Envoyer un message</h2>
            <div class="form__icon">💗</div>
        </div>
        <div class="form__body">
            <div class="form__group">
                <label class="form__label" for="name">
                    Nom <br>
                    <input class="form__input" type="text" id="name" name="name" placeholder="Entrez votre nom" required>
                </label>
            </div>
            <div class="form__group">
                <label class="form__label" for="message">
                    Message <br>
                    <textarea class="form__textarea" id="message" name="message" required></textarea>
                </label>
            </div>
            <div class="form__group form__group--right">
                <button class="btn btn--big form__btn" type="submit">Envoyer</button>
            </div>
        </div>
    </form>
</section>