<section class="form-section">
    <form class="form form--register" action="php/_register.php" method="post">
        <div class="form__header form__header--pink">
            <h2 class="form__title">Inscription</h2>
        </div>
        <div class="form__body">
            <div class="form__group form__group--name">
                <label class="form__label" for="name">
                    Nom
                </label>
                <input class="form__input form__input--name" type="text" id="name" name="name" placeholder="Entrez votre nom" required>
            </div>
            <div class="form__group form__group--email">
                <label class="form__label" for="email">
                    Email
                </label>
                <input class="form__input form__input--email" type="email" id="email" name="email" placeholder="Entrez votre email">
            </div>
            <div class="form__group form__group--password">
                <label class="form__label" for="password">
                    Mot de passe
                </label>
                <input class="form__input form__input--password" type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>
            </div>
            <div class="form__actions">
                <button class="btn btn--big form__btn" type="submit">S'inscrire</button>
            </div>
        </div>
    </form>
</section>
