@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jua&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'BILLO';
    src: url('../fonts/BILLO___.TTF');
}

@font-face {
    font-family: 'Playthings';
    src: url('../fonts/Playthings.ttf');
    font-weight: 0;
}

#content {
    margin-bottom: 10em;
}

body {
    background-color: #FF8FA3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    margin-bottom: 0;

}

.header__background {
    background-color: #FFF0F3;
    position: relative;
}

.header__title {
    background-color: #FF4D6D;
    background: linear-gradient(#ff6c87 40%, #FF4D6D 100%);
    padding: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: #C9184A 0px 0.1px 1px 1px;
    
    z-index: 1;
    position: relative;
    user-select: none;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header__marquee {
    padding: 0;
    user-select: none;
    overflow: hidden;
    padding: 1px;
    margin-bottom: 6px;
    font-size: 20px;
    height: 30px;

}

.header__marquee:last-child {
    border-radius: 0 0 10px 5px;
}

.header__heading {
    margin: 0;
    position: relative;
    top: 3px;
    padding: 0;
    color: #FFF0F3;
    font-family: BILLO;
    font-size: 4.2em;
    text-align: center;
    text-shadow: #851031 0px 1px 2px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF0F3;
    margin: 0;
    width: 100%;
    border-radius: 0 0 18px 18px;
    box-shadow: #a8a1a2 0px 1px 3px;
}

.navbar__links {
    display: flex;
    align-items: center;
    margin: 6px 8px;
}

.main-content {
    padding: 1em;
    border-radius: 18px;
    margin: 2em 3em;
    padding-top: 0;
}

.primary-nav {
    position: sticky;
    top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    z-index: 2;
}

.primary-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: #C9184A 0px 0.1px 1px 1px;
    border-radius: 100px;
}

.primary-nav__item {
    background: linear-gradient(#ff6c87 0%, #ff4d6ebc 100%);
    backdrop-filter: blur(3px);
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0;
}

.primary-nav__item:first-child {
    border-radius: 100px 0 0 100px;
}

.primary-nav__item:last-child {
    border-radius: 0 100px 100px 0;
}

.primary-nav__item:hover {
    background: linear-gradient(#ff4d6ebc 0%, #ff6c87 100%);
    color: #FFF0F3;
}

.primary-nav__link {
    color: #FFF0F3;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: #b21743 0px 1px 2px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2em;
    font-family: 'Playthings', sans-serif;
    font-weight: 100;
}

.primary-nav__link:hover {  
    color: #FFF0F3;
    text-shadow: #b21743 0px 2px 2px;
}

.btn {
    background-color: #FF4D6D;
    background: linear-gradient(#ff4d6ea3    0%, #ff6c87 100%);
    background: linear-gradient(#ff6c87 40%, #FF4D6D 100%);
    color: #FFF0F3;
    box-shadow: #C9184A 0px 0.8px 0.9px 0.2px;
    border: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-shadow: #cc2c5a 0px 1px 2px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    box-sizing: border-box;
    transition: 300ms;
    aspect-ratio: 7/2;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar__btn {
    margin: 0 5px;
}



.btn--big {
    padding: 10px 20px;
    font-size: 16px;

}

.btn:hover {
    background: linear-gradient(#FF4D6D 0%, #ff6c87 100%);
    color: #FFF0F3;
}

.btn:active {
    background-color: #FF4D6D;
    color: #FFF0F3;
    box-shadow: #C9184A 0px 0px 0px;
    position: relative;
    top: 1px;
}


.homepage-section {
    background: linear-gradient(#ff6c87 0%, #FF4D6D 10%);
    padding: 1em;
    border-radius: 26px;
    box-shadow: #C9184A 0px 0.1px 1px 1px;
    height: 100%;
    font-size: 0.8em;
}

.homepage-section__title {
    color: #FFF0F3;
    font-family: 'Playthings', sans-serif;
    font-size: 4em;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    text-shadow: #b21743 0px 2px 2px;
    margin-bottom: 0;

}

.homepage {
    background: #FFF0F3;
    padding: 0.1em 2em;
    border-radius: 18px;
    box-shadow: #a8a1a2 0px 1px 3px;
    height: 100%;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.homepage__subtitle {
    color: #FFF0F3;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Playthings', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: #b21743 0px 1px 2px;
/* 
    background: #ff8fa4;
    border-radius: 12px;
    box-shadow: #f77890 0px 1px 1px 1px;
    background: linear-gradient(#ffa5b5 0%, #ff8fa4 100%); */
}

.homepage__description {
    color: #C9184A;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}


.feed-section {
    background: #FFF0F3;
    padding: 1em;
    border-radius: 18px;
    box-shadow: #a8a1a2 0px 1px 3px;
    font-size: 0.8em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
}

.feed-section__title {
    color: #FFF0F3;
    font-family: 'Playthings', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
    text-shadow: #b21743 0px 2px 2px;
    width: 100%;
    padding: 6px 0;
    background: #ff8fa4;
    border-radius: 12px;
    background: linear-gradient(#FF4D6D 0%, #FF4D6D 100%);
    margin: 0;
    margin-bottom: 10.24px;
    box-shadow: #C9184A 0px 0.1px 1px 1px;
    
}

.feed-section__icon {
    color: #FF4D6D;
    font-family: 'Playthings', sans-serif;
    font-size: 1em;
    justify-content: left;
    align-items: flex-start;
    font-weight: 400;
    text-align: center;
    text-shadow: #b21743 0px 2px 2px;
    position: relative;
    bottom: 5px;
    margin-left: 4px;
}

.feed-section__text {
    color: #FFF0F3;
    font-family: 'Playthings', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    align-items: center;

    text-shadow: #b21743 0px 2px 2px;
}

.feed {
    box-sizing: border-box;
    /* background: #ffdae1; */
    border-radius: 16px;
    /* box-shadow: 0 0px 3px #ecc5cc; */
    /* padding: 1em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feed-item {
    border-radius: 12px;
    padding: 1em 1em;
    background: #ffdae1;
    box-shadow: #ecc5cc 0px 0.1px 1px 1px;
    /* border: 1px solid #C9184A; */
}

.feed-item:hover {
    background: #ffd4dc;
}

.feed-item:active {
    background: #ffdae1;
}

.feed-item__author {
    font-family: 'Playthings', sans-serif;
    font-size: 1.7em;
    color: #fd698e;
    font-weight: 500;
    padding-bottom: 0.6em;
    border-radius: 8px;
    text-decoration: none;
}

.feed-item__date {
    font-size: 1.29em;
    color: #b21743;
    opacity: 0.7;
}

.feed-item__content {
    font-size: 1.5em;
    color: #C9184A;
    font-family: 'Nunito', sans-serif;
    line-height: 2em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.feed-item__actions {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
}

.feed-item__btn {
    background: #ffb3c6;
    /* background: linear-gradient(#FF4D6D 0%, #FF4D6D 100%); */
    color: #fff0f3;
    border: none;
    border-radius: 100px;
    padding: 0.4em 1.2em;
    font-size: 1em;
    cursor: pointer;
    /* border: 0.1px solid #ff8ca1; */
    /* box-shadow: #ecc5cc 0px 0.1px 1px 1px; */
    box-shadow: #ea4674 0px 0.3px 1.5px 0.1px;
    /* border: 1px solid #C9184A; */
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
}

.feed-item__like-count {
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin: 0 0.2em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.feed-item__btn-text {
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 750;
    margin: 0 0.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff0f3;
}

.feed-item__btn:hover {
    background: linear-gradient(90deg, #ffb3c6 70%, #FF4D6D 100%);
    color: #fff;
    box-shadow: 0 2px 8px #ffb3c6;
}

.feed-item__btn-icon {
    font-size: 13px;
    text-shadow: #b21743 0px 0px 1px;
    color: #FF4D6D;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-section {
    max-width: 80%;
    margin: 0 auto;
}

.form {
    background-color: #FFF0F3;
    padding: 1em;
    border-radius: 26px;
    box-shadow: #a8a1a2 0px 1px 3px;
    text-align: center;
}

.form--elevated {
    background-color: #FFF0F3;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2em auto;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF4D6D;

    color: #FFF0F3;
    font-family: 'Playthings', sans-serif;
    font-size: 2em;
    height: 40px;
    border-radius: 18px;
    padding: 15px;
    box-shadow: #C9184A 0px 0.1px 1px 1px;
    margin-bottom: 16px;
    text-shadow: #b21743 0px 1px 2px;
}



.form__icon {
    position: relative;
    bottom: 5px;
    font-size: 1.5em;
    user-select: none;
}

.form__title {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    position: relative;
    bottom: 2px;
    font-family: 'Playthings', sans-serif;
    font-weight: 400;
}

.form__body {
    padding: 1em;
    background-color: #ffdae1;
    font-family: 'Playthings', sans-serif;
    font-weight: 400;

    border-radius: 18px;
    box-shadow: #ecc5cc 0px 0.1px 1px 1px;
}

.form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: fit-content;
}

.form__group--right {
    display: flex;
    justify-content: flex-end;
}

.form__group--name,
.form__group--email,
.form__group--password,
.form__group--message {
    margin-bottom: 1.5em;
    width: 100%;
}

.form__label {
    font-size: 1.5em;
    color: #FF6F91;
    border: none;
    text-align: left;
    /* font-weight: bold; */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    text-shadow: #b21743 0px 0.3px 0.5px;
}


.form__input,
.form__textarea {
    min-width: 5em;
    max-width: 10em;
    padding: 10px;
    border: 1px solid #FF4D6D;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: inset #ecc5cc 0px -0.1px 1px 1px;
    margin-top: 5px;
    font-family: 'Nunito', sans-serif;
}

.form__input--name,
.form__input--email,
.form__input--password,
.form__textarea--message {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #FF4D6D;
    border-radius: 8px;
    box-shadow: inset #ecc5cc 0px -0.1px 1px 1px;
    box-sizing: border-box;
}

.form__textarea {
    min-width: 10em;
    max-width: 100%;

    min-height: 5em;
    max-height: 20em;

    width: 100%;
    height: 10em;
}

.form__textarea--message {
    min-height: 5em;
    resize: horizontal;
}

.form__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.form--login,
.form--register {
    max-width: 500px;
    margin: 0 auto;
}


.error-page {
    background: linear-gradient(#FF4D6D 0%, #FF4D6D 100%);
    padding: 1em;
    border-radius: 26px;
    box-shadow: #C9184A 0px 0px 1px 1px;
    height: 60%;
    aspect-ratio: 8/6;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 5em;
    text-align: left;

}

.error-page__title {
    color: #FFF0F3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    text-align: center;
    text-shadow: #851031 0px 1px 2px;
}

.error-page__message {
    color: #FFF0F3;
    font-family: 'Playthings', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    text-shadow: #851031 0px 1px 2px;
}

.error-page__actions {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}